/* Article Page */
.article-header{
  
  padding:50px 20px;
  text-align:center;
}

.article-header h1{
  font-size:34px;
  margin-bottom:10px;
}

.article-header .meta{
  color:#94a3b8;
  font-size:14px;
}

/* Container */
.article-container{
  max-width:900px;
  margin:40px auto;
  padding:20px;
}

/* Featured Image */
.article-image{
  width:100%;
  border-radius:14px;
  margin-bottom:30px;
}

/* Content */
.article-content{
  line-height:1.8;
  font-size:16px;
  
}

.article-content h2{
  margin:30px 0 10px;
  font-size:24px;
  color:#38bdf8;
}

.article-content p{
  margin-bottom:16px;
}

.article-content ul,
.article-content ol{
  margin:15px 0 20px 20px;
}

.article-content li{
  margin-bottom:8px;
}

.article-content blockquote{
  background:#020617;
  border-left:4px solid #38bdf8;
  padding:15px 20px;
  margin:30px 0;
  color:#cbd5f5;
  font-style:italic;
}

/* Responsive */
@media(max-width:600px){
  .article-header h1{
    font-size:26px;
  }
}
